/* Required for full background image */
.btn .fa {
  margin-left: 3px;
}

.top-nav-collapse {
  background-color: #ef9a9a !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #ef9a9a !important;
  }
}

.btn-white {
  color: black !important;
}

h6 {
  line-height: 1.7;
}